.logo {
  margin-right: 100;
  height: 200px;
  justify-content: left;
}

.newContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.homePageHeader {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 10px;
  margin: 0 10px;
}

.subHomePageHeader {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 3rem;
}

.homePage {
  background-image: url("../assets/cloud-sky-cartoon-background-blue-sky-with-white-clouds-flat-poster-or-flyer-cloudscape-panorama-pattern-seamless-colored-abstract-fluffy-texture-vector.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* .lineBreak {
  width: 100%;
  height: 100px;
  background: rgb(0, 0, 0);
} */

.SkyBackground {
  /* border: 1px red solid; */
  width: 100%;
  /* height: 60vh; */
}
