* {
  font-size: 1.25rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* FOR TESTING */
  /* outline: 2px solid red;
  border: 2px solid green;  */
}

.bg-image {
  background-image: url("../assets/cloud-sky-cartoon-background-blue-sky-with-white-clouds-flat-poster-or-flyer-cloudscape-panorama-pattern-seamless-colored-abstract-fluffy-texture-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* 
h1 {
  font-size: 2rem;
} */

.profileSection {
  display: flex;
  justify-content: space-evenly;
  outline: 3px solid black;
  border-radius: 20px;
  margin: 0 7rem;
  padding-bottom: 2rem;
}

.userProfile{
  width: 50%;
  padding-left: 2rem;
  padding-right: 3rem;
  text-align: left;
}

.favoriteBirbPhoto {
  display: flex;
  flex-direction: column;
  width: 40%; 
}

.favBirbImg {
  border-radius: 15px;
  margin: 0 2rem;
  object-fit: contain;
}

button {
  margin-top: 1rem;
  align-content: flex-end;
}